<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Vehical_cng_booking_app_r3sys</display-name>
  <welcome-file-list>
    <welcome-file>Index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.r3sys.functions.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginStation</display-name>
    <servlet-name>LoginStation</servlet-name>
    <servlet-class>com.r3sys.functions.LoginStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginStation</servlet-name>
    <url-pattern>/LoginStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterStation</display-name>
    <servlet-name>RegisterStation</servlet-name>
    <servlet-class>com.r3sys.functions.RegisterStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStation</servlet-name>
    <url-pattern>/RegisterStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.r3sys.functions.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCng</display-name>
    <servlet-name>UpdateCng</servlet-name>
    <servlet-class>com.r3sys.functions.UpdateCng</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCng</servlet-name>
    <url-pattern>/UpdateCng</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.r3sys.functions.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisteration</display-name>
    <servlet-name>UserRegisteration</servlet-name>
    <servlet-class>com.r3sys.functions.UserRegisteration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisteration</servlet-name>
    <url-pattern>/UserRegisteration</url-pattern>
  </servlet-mapping>
</web-app>